include CHANGES.txt
include CONTRIBUTORS.txt
include COPYRIGHT.txt
include LICENSES.txt
include README.rst
include TODO.txt
include tox.ini
include docker_supervisor/version.txt
include docker_supervisor/scripts/*.py
include docker_supervisor/skel/*.conf
recursive-include docker_supervisor/tests/fixtures *.conf *.py
recursive-include docker_supervisor/ui *.html *.css *.png *.gif
include docs/Makefile
recursive-include docs *.py *.rst *.css *.gif *.png
recursive-exclude docs/.build *
